@import '../style.css';
@import '../general/general.css';
@import '../layout/header.css';
@import '../layout/footer.css';

/*------------------------------ Phần slider trang chủ ----------------*/
.slider-content .slider-content-item:nth-child(1){
    background-image: url('/assets/images/banner_1.png');
}

.slider-content .slider-content-item:nth-child(2){
    background-image: url('/assets/images/banner_2.png');
}

.slider-content .slider-content-item:nth-child(3){
    background-image: url('/assets/images/banner_3.png');
}

.slider-content .slider-content-item:nth-child(4){
    background-image: url('/assets/images/banner_4.png');
}

.slider-content .slider-content-item{
    background-position: center;
    background-repeat: inherit;
    background-size: cover;
}

.slider-content-item-title{
    padding: 330px 0;
}

.slider-content .flickity-page-dots{
    bottom: 0;
    padding-bottom: 30px;
}

.slider-content .flickity-page-dots .dot{
    background-color: var(--secondary-color);
    width: 25px;
    border-radius: 5px;
    height: 6px;
}

/*------------------------------ Phần các chương trình của Education Việt Nam ----------------*/
.main-programme-content{
    padding: 50px 0;
}

.main-programme-bor{
    border-radius: 24px;
    position: relative;
}

.main-programme-content-item{
    top: 0;
    border-radius: 24px;
    padding: 30px 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-programme-img{
    border: 2px dashed #FFFFFF;
    border-radius: 50%;
    padding: 11px;
}

.main-programme-img-content{
    border-radius: 50%;
    width: 144px;
    height: 144px
}

.main-programme-img-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-programme-content-item-title{
    margin: 24px 0 14px 0;
}

.main-programme-content-item-title a{
    font-weight: 700;
    line-height: 27px;
    font-size: 22px;
    color: #FFFFFF;
}

.main-programme-content-item>p{
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}

.main-programme-content .row .col-lg-3:nth-child(1) .main-programme-bor{
    background-color: #FF6666 ;
    border-bottom: 12px solid #F53C3C;
}

.main-programme-content .row .col-lg-3:nth-child(2) .main-programme-bor{
    background-color: #FFC000 ;
    border-bottom: 12px solid #DDA702;
}

.main-programme-content .row .col-lg-3:nth-child(3) .main-programme-bor{
    background-color: #ABCD52 ;
    border-bottom: 12px solid #93B43D;
}

.main-programme-content .row .col-lg-3:nth-child(4) .main-programme-bor{
    background-color: #1AB9FF ;
    border-bottom: 12px solid #0391D0;
}

.main-programme-bottom-title h3{
    font-weight: 900;
    font-size: 24px;
}

.main-programme-bottom-title p{
    font-weight: 600;
    color: #777777;
}

/*------------------------------ phần banner giữa trang ----------------*/
.main-info{
    margin: 30px 0;
    background-color:var(--orange-color) ;
}

.main-infor-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.main-info .section-main-title-content p,
.main-info-text p{
    color: #271344;
    font-weight: 500;
    line-height: 27px;
}

.main-info-text h3{
    font-size: 24px;
    line-height: 45px;
}

/*---------------------------------------- Phần tài liệu miễn phí ---------------------------*/
.main-document{
    padding: 0;
    background-color: #A0E9FF;
}

.main-document img{
    width: 100%;
}

.main-document-item {
    width: 25%;
    margin-right: 10px;
    border-radius: 5px;
}

.main-document-content{
    margin-top: 40px;
}

.main-document-item-content .icon-box-img{
    margin-bottom: 32px;
}

.main-document-item-content .icon-box-img .icon{
    width: 190px;
    margin: 0 auto;
}

.main-document-txt h2 a{
    color: #271344;
    font-weight: 900;
    font-size: 32px;
}

/*---------------------------------------- Phần tài liệu miễn phí ---------------------------*/
.main-event{
    padding: 30px 0;
}

.main-event-content{
    margin: 50px 0;
}

.album-box-img{
    height: 234px;
}

.album-box-img-left,
.album-box-img-right{
    width: 50%;
    padding: 0 4px;
    height: 100%;
}

.album-box-img-left img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 12px;
}

.album-box-img-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.album-box-img-right img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 12px;
    object-position: center;
}

.main-event-content-item{
    margin-bottom: 34px;
}

.album-box-tex{
    margin-top: 15px;
}

.album-box-text h3 a{
    font-weight: 600;
    font-size: 20px;
    color: #271344;
}

/*---------------------------------------- Phần tin tức  ---------------------------*/
.main-news-content{
    margin: 34px 0;
}

.main-news-content .main-news-content-bor{
    width: calc(100%/3);
    padding: 0 15px;
}

/*---------------------------------------- Phần đối tác của Education ---------------------------*/
.main-partner{
    padding-bottom: 80px;
}

.main-partner .section-main-title{
    margin: 30px 0;
}

.main-partner-img img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

@media screen and (max-width: 1200px) {
    .slider-content-item-title {
        padding: 290px 0;
    }

    .main-news{
        padding-top: 0;
    }
}

@media screen and (max-width: 992px) {
    .slider-content-item-title{
        padding: 235px 0;
    }
    
    .main-programme-bor{
        margin-bottom: 50px;
    }

    .main-programme-content-item{
        padding: 30px 12px;
    }

    .main-programme-content .row .col-md-6{
        padding: 0 25px;
    }

    .main-programme-bottom-title h3{
        font-size: 22px;
    }

    .main-programme-bottom-title p{
        font-size: 14px;
        margin-bottom: 15px;
    }

    .main-programme-bottom{
        flex-direction: column !important;
        align-items: start;
    }

    .main-infor-img{
        margin: 0 auto;
    }

    .main-infor-img img{
        width: 50%;
    }

    .main-train-content-item-img .img{
        object-fit: contain;
    }

    .main-document-item{
        width: calc(100%/3);
    }

    .main-document-txt h2 a{
        font-size: 25px;
    }

    .album-box-text h3 a{
        font-size: 18px;
    }

    .main-partner{
        padding-top: 0;
    }
}
  
  
@media screen and (max-width: 768px) {
    .main-programme-content{
        padding: 30px 0;
    }

    .slider-content-item-title{
        padding: 185px 0;
    }

    .main-programme-bor{
        margin-bottom: 30px;
    }

    .main-programme-content-item-title a{
        font-size: 17px;
    }

    .main-programme-content-item>p{
        font-size: 14px;
    }

    .main-programme-content-item{
        padding: 15px 8px;
    }

    .main-info-text h3{
        font-size: 22px;
    }

    .main-info .section-main-title-content p, .main-info-text p{
        font-size: 14px;
    }

    .main-document-item{
        width: 50%;
    }

    .main-document-txt h2 a{
        font-size: 23px;
    }

    .album-box-text h3 a{
        font-size: 16px;
    }

    .main-news-content .main-news-content-bor{
        width: 50%;
    }

    .main-event{
        padding-bottom: 0;
    }

    .main-news{
        padding-bottom: 0;
    }
}  
  
@media screen and (max-width: 576px) {
    .slider-content-item-title{
        padding: 140px 0;
    }
}























