body{
    width: 100%;
    font-family: Prompt !important;
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    color: #333; }

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
  
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

blockquote,
q {
    quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none; }

:root {
    --primary-color: #4598E4;
    --secondary-color: #FF4880; 
    --bg-color:#A0E9FF; 
    --orange-color: #ECB346;
    --text-color: #271344;
}


/*-------------------------- Link font chữ --------------------*/
@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/static/Nunito-Black.ttf); 
    font-weight: 900;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/static/Nunito-ExtraBold.ttf); 
    font-weight: 800;
}
  
@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/static/Nunito-Bold.ttf); 
    font-weight: 700;
}

@font-face {
    font-family: Prompt;
    src: url(../fonts/Prompt/Prompt-Medium.ttf); 
    font-weight: 500;
}

@font-face {
    font-family: Prompt;
    src: url(../fonts/Prompt/Prompt-SemiBold.ttf); 
    font-weight: 600;
}

@font-face {
    font-family: Prompt;
    src: url(../fonts/Prompt/Prompt-Medium.ttf); 
    font-weight: 700;
}

@font-face {
    font-family: Prompt;
    src: url(../fonts/Prompt/Prompt-Black.ttf); 
    font-weight: 900;
}

/* Reset --------------------------------------------- */
/** Reset CSS **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block; }

table {
    border-collapse: collapse;
    border-spacing: 0; }
  
img {
    max-width: 100%;
    vertical-align: middle; }

select,
button {
    cursor: pointer;
    outline: none; }

a:hover,
a {
    text-decoration: none; 
    color: #333;
}

svg,
svg path {
  -webkit-transition: fill .3s, stroke .3s;
  -o-transition: fill .3s, stroke .3s;
  transition: fill .3s, stroke .3s; }

a {
    transition: color .3s, background-color .3s; }
  
input:focus {
    box-shadow: none;
    outline: none; }

ul, ul li{
    list-style: none;
    padding: 0;
}

.flex-left{
    margin-right: auto;
}

.flex-center{
    margin: 0 auto;
}

.flex-right{
    margin-left: 0;
}

.flex-col{
    max-height: 100%;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}

.cl-pc{
    color: var(--primary-color);
}

.cl-sc{
    color: var(--secondary-color);
}

.cl-w{
    color: #fff !important;
}

.cl-b{
    color: #000 !important;
}

.cl-t{
    color: #271344 !important;
}

.btn{
    background: #FF4880;
    border-radius: 8px;
    padding: 8px 28px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid var(--secondary-color);
    line-height: 24px;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: #fff;
}

/*-------------------------- Resspone sive ------------------------*/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .btn{
        font-size: 14px;
        padding: 6px 14px;
    }
}
  
@media screen and (max-width: 768px) {

}  
  
@media screen and (max-width: 576px) {

}
.text-line{
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

